'.source.c.fr, .source.cpp.fr, .source.objc.fr, .source.objcpp.fr':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
       ^ .* \\{ [^}"\']* $
      |^ .* \\( [^\\)"\']* $
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      |^ \\s* \\{ \\} $
      '
    'decreaseIndentPattern': '(?x)
       ^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\}
      |^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\)
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      '
'.source.c.fr, .source.cpp.fr':
  'editor':
    'foldEndPattern': '(?<!\\*)\\*\\*/|^\\s*\\}'
